/*/obj
/*/bin/Debug
/*/obj/Debug
/*.suo
*.pdb
*.pubxml
*.user
*.userprefs
*.suo
*.xml
bin
Debug
.idea
.vs/
_ReSharper*/

packages/*
!packages/repositories.config
/packages/repositories.config

*/Nlog.config
NLog.config

